<%- include('header'); -%>
    <table style="border: 5px; border-color: black; border-style: solid; padding-bottom: 10px;">
        <tr>
            <td style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 4px;"> Product -</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif; padding-left: 5px;"><%= product.name %></td>
        </tr>
        <tr>
            <td style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 4px;">Supplier -</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;padding-left: 5px;"><%= product.supplier %></td>
        </tr>
        <tr>
            <td style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 4px;">Price -</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;padding-left: 5px;"><%= product.price %>AED</td>
        </tr>
        <tr>
            <td style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 4px;">Vat tax -</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;padding-left: 5px;"><%= product.vat %> AED </td>
        </tr>
        <tr>
            <td style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 4px;">Remaining Stock -</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;padding-left: 5px;"><%= product.stock %> pieces </td>
        </tr>
        <tr>
            <td style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;">Critical Stock -</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;padding-left: 5px;"><%= product.critical_stock %> pieces </td>
        </tr>
    </table>
<%- include('footer'); -%>