<%- include('header'); -%>
    <table style="border: 5px; border-color: black; border-style: solid; padding-bottom: 10px;">
        <tr>
            <td style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 4px;"> num_Client -</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif; padding-left: 5px;"><%= clientlists.num_client %></td>
        </tr>
        <tr>
            <td style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 4px;">Society -</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;padding-left: 5px;"><%= clientlists.society %></td>
        </tr>
        <tr>
            <td style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 4px;">Name -</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;padding-left: 5px;"><%= clientlists.contact %></td>
        </tr>
        <tr>
            <td style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 4px;">Address -</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;padding-left: 5px;"><%= clientlists.addres %></td>
        </tr>
        <tr>
            <td style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;padding: 4px;">Phone -</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;padding-left: 5px;"><%= clientlists.phone %></td>
        </tr>
        <tr>
            <td style="font-size: medium; font-family: Verdana, Geneva, Tahoma, sans-serif;">Fax -</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;padding-left: 5px;"><%= clientlists.fax %></td>
        </tr>
    </table>
<%- include('footer'); -%>